nav a {
  color: #666363;
}

* {
  font-family: Poppins;
}

/*----------------------INTRO------------------------*/
.cb-title {
  padding: 12% 8% 4% 8%;
}
.cb-title h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
  position: relative;
}
.cb-title h3 {
  position: absolute;
  margin-top: -35px;
  font-size: 28px;
}
.cb-title h3::after {
  display: block;
  content: '';
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
  width: 50%;
}

.cb-intro-info{
  display: flex;
  padding: 0 8% 4% 8%;
  color: #666363;
  width: 60%;
}
.cb-intro-info img{
  filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
  position: absolute;
  width: 32%;
  top: 10%;
  right: 8%;
}
.cb-numbers{
  margin-top: 4%;
  z-index: 1;
  background-color:#F9F9F9;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4% 8%;
}
.cb-numbers .cb-number{
  width: 100%;
  margin: 0 4%;
}
.cb-numbers .cb-number h2{
  font-weight: 800;
  color: #FFCF26;
  font-size: 3em;
}
.cb-numbers .cb-number p{
  color: #666363;
}

.more-info{
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  margin: 6% 4%;
  width: 80%;
}
.more-info p{
  width: 50%;
  margin: 0 4%;
  color: #666363;
}

/*----------------------TYPES------------------------*/
#cb-types{
  padding-bottom: 8%;
}
.types-title {
  padding: 0 8% 4% 8%;
}
.types-title h1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
  color: rgba(0, 0, 0, 0.06);
  position: relative;
}
.types-title h3 {
  position: absolute;
  margin-top: -35px;
  font-size: 28px;
}
.types-title h3::after {
  display: block;
  content: '';
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
  width: 50%;
}
.cb-types-info{
  padding: 0 8% 2% 8%;
}
.cb-types-info p{
  color: #666363;
}
.cb-types-container{
  display: flex;
  justify-content: center;
  padding:2% 0;
}
.cb-type {
  width: 20%;
  background: #FFFFFF;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  text-align: center;
  padding: 2%;
  margin: 0 1%;
}
.cb-type h3{
  font-size: 1.5em;
}
.cb-type-info img{
  margin: 4% 0;
  width: 50%;
}
.cb-type-info p{
  color: #666363;
}