* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{

}

button:focus {
  outline:0;
}
@media screen and (max-width: 560px) {
  p{
    font-size: 14px;
  }
}
/*----------------------NAVBAR------------------------*/
nav {
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

nav img {
  margin: 0;
  padding: 0;
  top: 0;
  left:2%;
  padding: 8px 0;
  position: absolute;
  width: 8%;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.19);
}
.hidden{
  background: transparent;
}
.hidden .nav-links ul {
  display: none;
}

nav .nav-links {
  display: flex;
  align-items: center;
}

nav .nav-links ul {
  display: flex;
  list-style: none;
}

nav .nav-links ul li {
  padding: 0 10px;
}

nav .nav-links ul li a:hover {
  color: #FFCF26;
  transition: 0.5s;
}
nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
}

nav button {
  margin-left: 1em;
  padding: 4px 20px;
  font-size: 18px;
  border-radius: 30px;
  border-style: none;
  background-color: #FFCF26;
  color: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.09);
}

nav button:hover {
  cursor: pointer;
  color: #FFCF26;
  background-color: #ffffff;
  transition: 0.5s;
}
.dropdown{
  position: relative;
}
.dropdown-content {
  position: absolute;
  width: 190%;
  display: none;
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  font-size: 14px;
}
.dropdown:hover .dropdown-content {display: block;}


@media screen and (max-width: 980px) {
  nav {
    padding: 0 10px;
  }

  nav li, button {
    display: none;
  }
}

.check {
  display: none;
}
@media screen and (max-width: 560px) {
  nav img {
    width: 12%;
  }
}
/*-----------------------FOOTER------------------------*/
footer{
  border-top: 10px solid #fff;
  background-color: #b13f7d;
  padding: 2% 0;
}
.footer-container{
  position: relative;
  padding: 2% 0;
  width: 84%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.footer-info{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.footer-social{
  display: flex;
  width: 18%;
  height: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.footer-social img{
  padding: 0 10%; 
  width: 100%;
}
.footer-social a{
  cursor: pointer;
}

.footer-logos{
  width: 84%;
  margin: 0 auto;
}
.footer-logos img{
  width: 33%;
  padding: 2% 0;
}
@media screen and (max-width: 980px) {
  .footer-container{
    width: 90%;
    display: block;
  }
  .footer-info{
    display: block;
    width: 100%;
    text-align: center;
  }
  .footer-info-find , .footer-info-contact{
    margin-top: 4%;
  }
  .footer-social{
    display: flex;
    height: fit-content;
    position: relative;
    top:0;
    transform: none;
    width: 35%;
    margin: 6% auto 0 auto;
  }
  .footer-logos img{
    width: 55%;
  }
}